<h1 nz-typography style="margin-bottom: 30px">Classes</h1>

<div class="table-operations" style="margin-bottom: 16px">
  <button nz-button nzType="primary" [routerLink]="['new']"><i nz-icon nzType="plus"></i>Create Class</button>
</div>

<nz-table
  #classTable
  [nzFrontPagination]="false"
  [nzData]="classes"
  nzBordered
  nzShowPagination
  nzShowSizeChanger
  [nzSize]="'small'"
  [nzTotal]="total"
  [nzLoading]="loading"
  [nzPageIndex]="page"
  [nzPageSize]="count"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Teacher ID</th>
      <th>Teacher</th>
      <th>Students count</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of classTable.data">
      <td>{{ c.id }}</td>
      <td>
        {{ c.name }}
      </td>
      <td>
        {{ c.teacher_user_id }}
      </td>
      <td>
        <nz-icon nzType="user" nzTheme="outline" />
        {{ c.teacher_user.first_name + ' ' + c.teacher_user.last_name }}
      </td>
      <td>
        {{ c.enrolled_students_count || 0 }}
      </td>
      <td>
        <button nz-button nzType="link" [routerLink]="['edit', c.id]">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <button nz-button nzType="link" [routerLink]="[c.id]">
          <i nz-icon nzType="eye" nzTheme="outline"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
