<h1 nz-typography class="!mb-10">Classes</h1>

<div class="mb-4">
  <button nz-button nzType="primary" [routerLink]="['new']">
    <nz-icon nzType="plus-add" />
    New Class
  </button>
</div>

<nz-table
  #classTable
  [nzFrontPagination]="false"
  [nzData]="classes"
  nzBordered
  nzShowPagination
  nzShowSizeChanger
  [nzSize]="'small'"
  [nzTotal]="total"
  [nzLoading]="loading"
  [nzPageIndex]="page"
  [nzPageSize]="count"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th>ID</th>
      <th>Class name</th>
      <th>Teacher ID</th>
      <th>Teacher</th>
      <th>Students count</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of classTable.data">
      <td>{{ c.id }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.teacher_user_id }}</td>
      <td>
        <nz-icon nzType="user" nzTheme="outline" />
        {{ c.teacher_user.first_name + ' ' + c.teacher_user.last_name }}
      </td>
      <td>{{ c.enrolled_students_count || 0 }}</td>
      <td>
        <button nz-button nzType="link" [routerLink]="['edit', c.id]">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
