<h1 nz-typography class="!mb-10">Attendances</h1>
<nz-table
  #attendanceTable
  [nzFrontPagination]="false"
  [nzData]="attendances"
  nzBordered
  nzShowPagination
  nzShowSizeChanger
  [nzSize]="'small'"
  [nzTotal]="total"
  [nzLoading]="loading"
  [nzPageIndex]="page"
  [nzPageSize]="count"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th>ID</th>
      <th>Time in</th>
      <th>Time out</th>
      <th>Student ID</th>
      <th>Student</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of attendanceTable.data">
      <td>{{ a.id }}</td>
      <td>{{ a.time_in | date: 'medium' }}</td>
      <td>{{ a.time_out | date: 'medium' }}</td>
      <td>{{ a.student_user_id }}</td>
      <td>
        <nz-icon nzType="user" nzTheme="outline" />
        {{ a.student_user?.first_name + ' ' + a.student_user?.last_name }}
      </td>
    </tr>
  </tbody>
</nz-table>
