<div class="camera-container">
  <video #videoElement autoplay playsinline class="video-element"></video>
  <div class="button-container">
    <button nz-button nzType="primary" nzShape='circle' nzSize="large" class="custom-button"
            (click)="captureAndSearch()" [disabled]="isSearching">
      <span *ngIf="!isSearching">
        <nz-icon nzType="smile" nzTheme="outline" />
      </span>
      <span *ngIf="isSearching">
        <nz-icon nzType="loading" nzSpin />
      </span>
    </button>
  </div>

  <div *ngIf="searchResults" class="results-container">
    <!-- Display search results here if needed -->
  </div>
</div>
