<h1 nz-typography style="margin-bottom: 30px">Users</h1>

<div class="table-operations" style="margin-bottom: 16px">
  <button nz-button nzType="primary" [routerLink]="['new']"><i nz-icon nzType="user-add"></i>Create User</button>
</div>

<nz-table
  #userTable
  [nzFrontPagination]="false"
  [nzData]="users"
  nzBordered
  nzShowPagination
  nzShowSizeChanger
  [nzSize]="'small'"
  [nzTotal]="total"
  [nzLoading]="loading"
  [nzPageIndex]="page"
  [nzPageSize]="count"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of userTable.data">
      <td>{{ u.id }}</td>
      <td>{{ u.first_name }}</td>
      <td>{{ u.last_name }}</td>
      <td>{{ u.email }}</td>
      <td>
        <nz-tag [nzColor]="getRoleTagColor(u.role)">
          {{ u.role }}
        </nz-tag>
      </td>
      <td>
        <button nz-button nzType="link" [routerLink]="['edit', u.id]">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <button nz-button nzType="link" [routerLink]="[u.id]">
          <i nz-icon nzType="eye" nzTheme="outline"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
