<!--<ng-template #customNotification>-->
<!--  <div class="notification-content">-->
<!--    <div class="user-info">-->
<!--      <div class="user-name"><strong>Student:</strong> {{ searchResult?.student_user?.first_name }} {{ searchResult?.student_user?.last_name }}</div>-->
<!--      <div class="user-id"><strong>Student ID:</strong> {{ searchResult?.student_user_id }}</div>-->
<!--    </div>-->
<!--    <div class="attendance-info">-->
<!--      <div class="time-in"><strong>Time In:</strong> {{ searchResult?.time_in | date: 'medium' }}</div>-->
<!--      <div class="time-out" *ngIf="searchResult?.time_out"><strong>Time Out:</strong> {{ searchResult?.time_out | date: 'medium' }}</div>-->
<!--      <div class="no-timeout" *ngIf="!searchResult?.time_out">-->
<!--        <em>No time out record</em>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->

<div class="camera-container">
  <video #videoElement autoplay playsinline class="video-element"></video>
  <div class="button-container" [class.hidden]="showSuccessResult">
    <button nz-button nzType="primary" nzShape="circle" nzSize="large" class="custom-button" (click)="captureAndSearch()" [disabled]="isSearching">
      <span *ngIf="!isSearching">
        <nz-icon nzType="unlock" nzTheme="outline" />
      </span>
      <span *ngIf="isSearching">
        <nz-icon nzType="loading" nzSpin />
      </span>
    </button>
  </div>
</div>

<div *ngIf="showSuccessResult && searchResult" class="results-container">
  <nz-result nzIcon="smile-twotone" nzTitle="Attendance recorded successfully!">
    <div nz-result-content>
      <div class="desc">
        <p><strong>Student:</strong> {{ searchResult.student_user?.first_name }} {{ searchResult.student_user?.last_name }}</p>
        <p><strong>Student ID:</strong> {{ searchResult.student_user_id }}</p>
        <p><strong>Time In:</strong> {{ searchResult.time_in | date: 'medium' }}</p>
        <p *ngIf="searchResult?.time_out"><strong>Time Out:</strong> {{ searchResult.time_out | date: 'medium' }}</p>
      </div>
    </div>
    <div nz-result-extra>
      <div class="countdown">
        <span class="countdown-label">Closing in: </span>
        <span class="countdown-timer">{{ countdownValue }}</span>
      </div>
      <button nz-button nzType="primary" (click)="resetCamera()">Close Now</button>
    </div>
  </nz-result>
</div>
