<div class="login-container">
  <nz-card [nzBordered]="false" class="login-card">
    <h2 class="login-title">Clockster</h2>
    <p class="login-subtitle">Sign in to your account</p>

    <nz-alert *ngIf="error" nzType="error" nzMessage="Login Error" [nzDescription]="error" class="login-error"></nz-alert>

    <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="username" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-checkbox nz-checkbox formControlName="remember">Remember me</nz-checkbox>
        </nz-form-control>
      </nz-form-item>

      <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="loading">Log in</button>
    </form>
  </nz-card>
</div>
