<h2 nz-typography>Edit User</h2>

<div *ngIf="isLoading" class="loading-container">
  <nz-spin nzTip="Loading user data..."></nz-spin>
</div>

<div *ngIf="!isLoading && editForm">
  <form nz-form [formGroup]="editForm" (ngSubmit)="updateUser()">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>First Name</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input first name!">
        <input nz-input formControlName="first_name" placeholder="First Name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Last Name</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input last name!">
        <input nz-input formControlName="last_name" placeholder="Last Name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>Email</nz-form-label>
      <nz-form-control [nzSpan]="14" [nzErrorTip]="emailErrorTpl">
        <input nz-input formControlName="email" placeholder="Email" type="email" />
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please input email!</ng-container>
          <ng-container *ngIf="control.hasError('email')">Please enter a valid email address!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <div class="form-actions" style="">
      <button nz-button nzType="default" (click)="cancel()" style="margin-right: 8px">Cancel</button>
      <button nz-button nzType="primary" [disabled]="!editForm.valid || isSubmitting" type="submit">
        <i nz-icon nzType="save"></i> Save Changes
      </button>
    </div>
  </form>
</div>
